body {
	font-family: 'Audiowide', cursive;
	color:rgb(198, 177, 24);
	font-size: 16px;
	line-height: 20px;
	background: url(../images/wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

* {
	box-sizing: border-box;
}

.jumbotron {
	background: rgba(255,255,255,0.3);
	text-align: center;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

input[type="radio"]{
  margin: 0 10px 0 10px;
}

.footer {
	background: green;
	text-align: center;
	font-size: 14px;
	color: grey;
	padding: 5px;
	right: 0;
	left: 0;
	bottom: 0;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}